<% provide(:title, "Paychecks for pay period "+current_pay_period.first.strftime("%d %b %Y")+" to "+current_pay_period.last.strftime("%d %b %Y")) %>
<% provide(:nav_tab, "pay_slips") %>
<h1>Paychecks <%=current_pay_period.first.strftime("%d %b %Y")%> - <%=current_pay_period.last.strftime("%d %b %Y")%></h1>

<ul class="payslip">
<% @paychecks.each do |paycheck| %>
  <%= render paycheck %>
<% end %>
</ul>
<hr/>
<div class="pull-right" style="text-align:right">
<h2 style="text-align:right">Cafe Payroll: <small>$ <%=number_with_precision @total_cafe , precision: 2%></small></h2>
<h2 style="text-align:right">Soksabike Payroll: <small>$ <%=number_with_precision @total_soksa , precision: 2%></small></h2>
<h2 style="text-align:right">Kinyei Intl Payroll: <small>$ <%=number_with_precision @total_kinyei , precision: 2%></small></h2>
<h2 style="text-align:right"><strong>Total Payroll: <small>$ <%=number_with_precision @total_payroll , precision: 2%></small></strong></h2>
</div>
<%= button_to "Back to adjustments", adjustments_path, class: "btn btn-large", method: :get %> 
<br />