<%= form_for(@pay_rate) do |f| %>
  <% if @pay_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay_rate.errors.count, "error") %> prohibited this pay_rate from being saved:</h2>

      <ul>
      <% @pay_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "fields", f: f %>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
<% end %>