<%= form_for([@employee, @leave], class: "input-small") do |f| %>
 <%= render "shared/error_messages", object: @leave %>
  <%= f.label :start_at %>
  <%= f.text_field :start_at, class: "input-small"  %>

  <%= f.label :end_at %>
  <%= f.text_field :end_at, class: "input-small" %>
  
  <%= f.label :note %>
  <%= f.text_area :note, rows: 3 %>

  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>
