<% provide(:title, "Leave hours for pay period "+current_pay_period.first.strftime("%d %b %Y")+" to "+current_pay_period.last.strftime("%d %b %Y")) %>
<h1>Leave hours <%=current_pay_period.first.strftime("%d %b %Y")%> - <%=current_pay_period.last.strftime("%d %b %Y")%></h1>


<table class="table table-striped">
  <tr>
    <th>Employee</th>
    <th>Hours</th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%=employee.name%></td>
    <td><%=count_hours employee.leaves%></td>
    <td><%= button_to "Edit hours", employee_leaves_url(employee), method: :get, class: "btn btn-small" %></td>
    <td></td>
  </tr>
<% end %>
</table>
<%= button_to "Back to worked hours", worked_shifts_path, method: :get, class: "btn btn-large" %>
<%= button_to "Adjustments", adjustments_path, method: :get, class: "btn btn-large btn-primary"%>
<br />