<%= form_for([@paycheck, @adjustment]) do |f| %>
  
  <%= render "shared/error_messages", object: @adjustment %>
  
  <%= f.label :pay %>
  $ <%= f.text_field :pay, class: "input-small" %>
  <%= f.label :leave %>
  <%= f.text_field :leave, class: "input-small" %> hrs
  <%= f.label :note %>
  <%= f.text_area :note, rows: "3" %>
  
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary"%>
  </div>
<% end %>