<% provide(:title, "Adjustments for pay period "+current_pay_period.first.strftime("%d %b %Y")+" to "+current_pay_period.last.strftime("%d %b %Y")) %>
<% provide(:nav_tab, "adjustments") %>
<h1>Adjustments <%=current_pay_period.first.strftime("%d %b %Y")%> - <%=current_pay_period.last.strftime("%d %b %Y")%></h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Employee</th>
    <th>Pay Adjustments</th>
    <th>Leave Adjustments</th>
    <th></th>
  </tr>
<tbody>
<% @employees.each do |employee| 
      paycheck = employee.current_paycheck
%>
  <tr>
    <td><%= employee.name %></td>
    <td><%= paycheck.adjustments.sum(:pay) %></td>
    <td><%= paycheck.adjustments.sum(:leave) %></td>
    <td><%= link_to "Edit ", paycheck_adjustments_url(paycheck), class: "btn btn-small" %></td>
  </tr>
<% end %>
</tbody>
</table>
<div style="display:none">
<%= button_to "Back to leave hours", leaves_path, method: :get, class: "btn btn-large" %>
<%= button_to "Pay Slips", paychecks_path, class: "btn btn-large btn-primary", method: :get%>
</div>
<br />


